# Home 1:

In [1]:
# 2
x = 11+7+4+18+37
print(x/5)

15.4

In [2]:
# 3
import calendar
year = 2021
month = 4
print(calendar.month(year,month))

     April 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [7]:
# 4
def compute(n):
    print(n+n*n+n*n*n)
#
compute(5)

155

In [6]:
# 5 
def reserve(x):
    print(x[::-1])
#
reserve('Ahmed')

demhA

In [53]:
#list1 = [9,9,"I'm",'','Learning','Python','','at ITI']
#list2 = list(filter((x for x in list1 if type(x)!=str),list1))
#list1 = list(filter(None,list1))
#list1 = list(list2)
#y = [x for x in list1 if type(x)!=str]
#list1 = list1.remove([x for x in y])

In [55]:
# 6
list1 = [9,9,"I'm",'','Learning','Python','','at ITI']
list1 = list(filter(None,list1))
list1 = [x for x in list1 if type(x)==str]
list1

["I'm", 'Learning', 'Python', 'at ITI']

In [59]:
# 7
tuple1 = (50,10,60,70,50)
count = tuple1.count(50)
count

2

In [60]:
# 8
def Count(iterable,item):
    return iterable.count(item)

tuple2 = (50,10,60,70,50)
Count(tuple2,50)

2

In [64]:
# 9
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1 & set2)

{40, 50, 30}

In [68]:
# 10
Keys = ['Ten','Twenty','Thirty']
Values = [10,20,30]
dict1 = {Keys[i]: Values[i] for i in range(len(Keys))}
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Home 2:

In [76]:
# 1
from datetime import datetime
now = datetime.now()
timenow = now.time()
time = now.strftime('%H:%M:%S')
print(now)
print(time)
print(timenow)

2021-04-08 21:52:46.806083
21:52:46
21:52:46.806083

In [77]:
# 2
import sys
print(sys.version)

3.8.8 (default, Feb 24 2021, 15:54:32) [MSC v.1928 64 bit (AMD64)]

In [79]:
# 3
def names(fname,lname):
    print(lname+' '+fname)

names('Ahmed','Elbaqary')

Elbaqary Ahmed

In [80]:
# 4
import calendar
year = 2021
month = 4
print(calendar.month(year,month))

     April 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [84]:
# 5
n = '246.24580'
print(float(n))
print(int(float(n)))

246.2458
246

In [93]:
# 6
print('Hello World \n'*3)

Hello World
Hello World
Hello World

In [101]:
# 7
def string(x):
    if len(x) >=2:
        return x[:2]+x[-2:]
    else:
        return []
# Test
x = string('w3resource')
print(x)
y = string('w')
print(y)

w3ce
[]

In [16]:
# 8
list3 = [1,2,3,4,5,6,7,8,9]
def func():
    x = input('Please write down a list: ')
    y = 0
    for i in x:
        if i.isdigit():
            i = int(float(i))
            y+=i
        else:
            continue
    return y

# Test
func()

Please write down a list: [1,2,3,4,5,6,7,8,9]

45

In [118]:
# 9
def calc(x):
    return 3*x**2+4*x-3
# Test
calc(5)

92

In [124]:
# 10
list1 = ['M','na','i','Ke']
list2 = ['y','me','s','lly']
def conc(x,y):
    z = []
    for i in range(len(x)):
        z.append(x[i]+y[i])
    return z
# Test
x = conc(list1,list2)
print(x)

['My', 'name', 'is', 'Kelly']

In [125]:
# 11
alist = [1,2,3,4,5,6,7]
alist = [x**2 for x in alist]
print(alist)

[1, 4, 9, 16, 25, 36, 49]

In [127]:
# 12
list1 = ['Mike', '', 'Emma', 'Kelly', '', 'Brad']
list1 = list(filter(None,list1))
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [128]:
# 13
aTuple = (10,20,30,40,50)
print(aTuple[::-1])

(50, 40, 30, 20, 10)

In [131]:
# 14 
aTuple = (10,20,30,40)
a,b,c,d = [x for x in aTuple]
# Test
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [132]:
# 15
tuple1 = (50,10,60,70,50)
tuple1.count(50)

2

In [133]:
# 16
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1 & set2)

{40, 50, 30}

In [134]:
# 17
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1 | set2)

{70, 40, 10, 50, 20, 60, 30}

In [139]:
# 18
set1 = {10,20,30}
set2 = {20,40,50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [145]:
# 19
keys = ['Ten', 'Twenty', 'Thirty']
values = [10,20,30]
dict1 = {keys[i]:values[i] for i in range(len(keys))}
# Test
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [154]:
# 20
sampleDict = {'name':'Kelly', 'age':25, 'salary':8000, 'city':'New york'}
keys = ['name', 'salary']
dicts = dict((x,sampleDict[x]) for x in keys if x in sampleDict)
# Test
print(dicts)

{'name': 'Kelly', 'salary': 8000}

In [155]:
# 21
sampleDict = {'name':'Kelly', 'age':25, 'salary':8000, 'city':'New york'}
keys = ['name', 'salary']
for i in keys:
    sampleDict.pop(i)
# Test 
print(sampleDict)

{'age': 25, 'city': 'New york'}

# Home 3:

In [156]:
# 1
apes = ['Homo Sapiens', 'Pan troglodytes', 'Gorilla gorilla']
for i in apes:
    print("{} is an ape. it's name starts with {} its name has {} letters".format(i,i[0],len(i)))

Homo Sapiens is an ape. it's name starts with H its name has 12 letters
Pan troglodytes is an ape. it's name starts with P its name has 15 letters
Gorilla gorilla is an ape. it's name starts with G its name has 15 letters

In [160]:
# 3
def data(x,y,z):
    print(x,'\n',y,'\n',z)
# Test
data('Ahmed Abd-Elsalam Muhammed', 'Production Engineering', 24)

Ahmed Abd-Elsalam Muhammed
 Production Engineering
 24

In [161]:
# 4
listt = [1,2,3,4,5,6,7,8,9]
listt = [x for x in listt if not x%2]
# Test
print(listt)

[2, 4, 6, 8]

In [173]:
# 5
def fact(x):
    if x == 0:
        return 1
    elif x >= 1:
        factorial = 1
        for i in range(1,x+1):
            factorial *= i
        return factorial
    else: 
        print('Error! a negative number')
# Test
fact(6)

720

In [1]:
# 6
def recurse(n):
    if n <= 1:
        return n
    else:
        return n + recurse(n-1)
# test
x = recurse(10)
print(x)

55

# Home 2.1

In [9]:
# 1
class printing:
    def get_string(self,x):
        self.x = x
        print(str(self.x))
    def print_string(self,x):
        self.x = x
        print(str(self.x).upper())
        
# Test
x = printing()
x.get_string('ahmed')
x.print_string('ahmed')

ahmed
AHMED

In [12]:
# 2
class vehicle:
    def __init__(self,color):
        self.color = color
    
class bus(vehicle):
    def __init__(self,color,typ):
        super().__init__(color)
        self.typ = typ
    def printing(self):
        print(self.color)
        print(self.typ)
        
        

# Test
x = bus('red','super')
x.printing()

red
super

In [25]:
# 3
def class_factory():
    class human():
        def __init__(self,fingers):
            self.fingers = fingers
        
        def print_fing(self):
            print(self.fingers)
    return human

# Test
x = class_factory() # when calling a function, a class has created
p = x(5) # Here we declare an object using th (x=human) class
p.print_fing() # Here we use the print_fing() method

5

# Home 2.2

In [61]:
# 1
class vehicle:
    def __init__(self,name,max_speed,mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class bus(vehicle):
    pass
    

# Test
car = bus('School Volvo',180,12)
print(f'Vehicle Name: {car.name} Speed: {car.max_speed} Mileage: {car.mileage}')

Vehicle Name: School Volvo Speed: 180 Mileage: 12

In [60]:
# 2
class vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self,capacity=50):
        return capacity

class bus(vehicle):
    pass

# Test
new_car = bus('School Volvo',180,12)
print(f'the stearing capacity of a {new_car.name} is {new_car.seating_capacity(50)} passengers')

the stearing capacity of a School Volvo is 50 passengers

In [59]:
# 3
class vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity
    
    def fare(self):
        return self.capacity*100

class bus(vehicle):
    def fare(self):
        return self.capacity*110

shcool_bus1 = bus('school Volvo', 12, 50)
print(f'Total Bus fare is: {shcool_bus1.fare()}')

Total Bus fare is: 5500