In [1]:
from jupyter_dash import JupyterDash
# import dash
from dash import dcc
from dash import html

In [30]:
app = JupyterDash()
# app = dash.Dash()

In [21]:
app.layout = html.Div([
    html.H1('My Dashboard', style={'textAlign':'center', 'color':'#CF0808'}),
    html.Br(), # <------------ Down by one line
    html.Hr(), # <------------ Horizontal rule
    html.P('My Text ................', style={'backgroundColor':'#F2DFDF'})
])

In [14]:
if __name__ == '__main__':
    app.run_server(port=5080)

Dash app running on http://127.0.0.1:5080/

---
**Note: we want to style our dashboard so we will use an external CSS style sheet**

In [17]:
app = JupyterDash(external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css'])
# app = dash.Dash(external_stylesheets=['https://codepen.io/chriddyp/pen/bWLwgP.css'])

In [10]:
app.layout = html.Div([
    html.H1('My Dashboard', style={'textAlign':'center', 'color':'#CF0808'}),
    html.Br(), # <------------ Down by one line
    html.Hr(), # <------------ Horizontal rule
    html.P('My Text ................', style={'backgroundColor':'#F2DFDF'}),
    html.Div([
        html.Div('Div1', className='Four Columns'),
        html.Div('Div2', className='Four Columns'),
        html.Div('Div3', className='Four Columns')
    ])
], className='container')

In [11]:
if __name__ == '__main__':
    app.run_server(port=5080)

Dash app running on http://127.0.0.1:5080/

---

In [22]:
%config Completer.use_jedi = False

In [23]:
import plotly.express as px
import pandas as pd

In [24]:
df = px.data.gapminder()
df.sample(5)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1240,Portugal,Europe,1972,69.260,8970450,9022.247417,PRT,620
95,Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
1471,Sweden,Europe,1987,77.190,8421403,23586.929270,SWE,752
1561,Tunisia,Africa,1957,47.100,3950849,1395.232468,TUN,788
865,Lebanon,Asia,1957,59.489,1647412,6089.786934,LBN,422

In [32]:
# We can make it animated using (animation_frame)
# note we removed year==2007 condition
fig1 = px.scatter(df, x='gdpPercap', y='lifeExp',
           color='continent', size='pop',
           size_max=40, log_x=True,
           title="My Scatter",
           hover_name='country',
          animation_frame = 'year') #<---------- this

In [33]:
fig2 = px.sunburst(df, color='lifeExp', values='pop', 
            path= ['continent', 'country'],
           hover_name='country', height=600)

In [34]:
app.layout = html.Div([
    
    html.H1('My Dashboard', style={'textAlign':'center', 'color':'#CF0808'}),
    html.Br(), # <------------ Down by one line
    html.Hr(), # <------------ Horizontal rule
    html.P('My Text ................', style={'backgroundColor':'#F2DFDF'}),
    
    # Making Partitions in my dashboard
    html.Div([
        html.Div([
            html.H1('My 1st Graph'),
            dcc.Graph(figure=fig1)
        ],className='Four Columns'),
        
        html.Div([
            html.H1('My 2nd Graph'),
            dcc.Graph(figure=fig2)
        ], className='Four Columns'),
        
        html.Div('Div3', className='Four Columns')
    ])
    
], className='row')

In [35]:
if __name__ == '__main__':
    app.run_server(port=5080)

Dash app running on http://127.0.0.1:5080/