**First We need to initiate our SparkSession and find its path**

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

**Building a spark instance as our sparksession:**

In [3]:
spark = SparkSession.builder.getOrCreate()

**Reading the file into a dataframe through our spark**

In [4]:
df = spark.read.format('json').load('Book_Exercises\data\json\summer 2015.json')
# Creating a SQLtable from our DataFrame
df.createOrReplaceTempView('dftable')

In [59]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [20]:
df.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [14]:
df

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [10]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [26]:
df.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

In [23]:
df.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

**Columns and Expressions**

In [7]:
from pyspark.sql.functions import col
from pyspark.sql.functions import expr

In [32]:
# Constructiong a col but it has no data/rows inside
col('Name')

Column<'Name'>

In [33]:
# Here we resolve a column out of a specific dataframe
# in scala it's df.col('DEST_COUNTRY_NAME')

# in python
df['DEST_COUNTRY_NAME']
#df.DEST_COUNTRY_NAME

Column<'DEST_COUNTRY_NAME'>

In [47]:
# note how columns are expressions
print((df['count'] - 5) > df['count'])
print(expr('(count*5) > count'))

Column<'((count - 5) > count)'>
Column<'((count * 5) > count)'>

**Rows**

In [48]:
df.first()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

In [52]:
from pyspark.sql import Row

myRow= Row("Hello", None, 1, False)
print(myRow)
print(myRow[0])

<Row('Hello', None, 1, False)>
Hello

**DataFrames**

In [58]:
## Creating a DataFrame Manually

from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType
myManualSchema = StructType([
StructField("some", StringType(), True),
StructField("col", StringType(), True),
StructField("names", LongType(), False)
])
myRow = Row("Hello", None, 1)
myDf = spark.createDataFrame([myRow], myManualSchema)
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|null|    1|
+-----+----+-----+

---
**select and selectExpr**

In [67]:
from pyspark.sql.functions import expr, col, column
df.select(
expr("DEST_COUNTRY_NAME"),
col("DEST_COUNTRY_NAME"),
"DEST_COUNTRY_NAME")\
.show(2)

+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|
|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+
only showing top 2 rows

In [73]:
df.select(expr("DEST_COUNTRY_NAME AS DEST")).show(2)

+-------------+
|         DEST|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [83]:
df.selectExpr('DEST_COUNTRY_NAME as dest').show(4)

df.selectExpr(
"*", # all original columns
"(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry")\
.show(2)

+-------------+
|         dest|
+-------------+
|United States|
|United States|
|United States|
|        Egypt|
+-------------+
only showing top 4 rows

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

---
**Aggregation**

In [86]:
df.selectExpr('sum(count) as sum', 'count(count) as count', 'avg(count) as avg').show(4)

+------+-----+-----------+
|   sum|count|        avg|
+------+-----+-----------+
|453316|  256|1770.765625|
+------+-----+-----------+

---
**Literals** \
Sometimes, we need to pass explicit values into Spark that are just a value (rather than a new
column). This might be a constant value or something we’ll need to compare to later on. The
way we do this is through literals. This is basically a translation from a given programming
language’s literal value to one that Spark understands.

In [94]:
from pyspark.sql.functions import lit
df.select(expr('*'), lit(1).alias('One')).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

---
**Adding Columns** \
Another more formal way of adding a new column to a DataFrame, and that’s by using the
withColumn method on our DataFrame.

In [97]:
df.show(2)
df.withColumn('NUmberone', lit(1)).show(2)
df.show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+---------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|NUmberone|
+-----------------+-------------------+-----+---------+
|    United States|            Romania|   15|        1|
|    United States|            Croatia|    1|        1|
+-----------------+-------------------+-----+---------+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

---
**Renaming a column**

In [99]:
df.withColumnRenamed('DEST_COUNTRY_NAME', 'dest').show(2)
df.show(2)

+-------------+-------------------+-----+
|         dest|ORIGIN_COUNTRY_NAME|count|
+-------------+-------------------+-----+
|United States|            Romania|   15|
|United States|            Croatia|    1|
+-------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

---
**Reserved Characters and Keywords** \
Handling reserved characters like spaces or dashes in column means escaping column names appropriately. In Spark, we do this by
using backtick (`) character

In [104]:
testColumn = df.withColumn('The New long-name', col('count')) #.show(2) gives nonetype
testColumn.show(2)

+-----------------+-------------------+-----+-----------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|The New long-name|
+-----------------+-------------------+-----+-----------------+
|    United States|            Romania|   15|               15|
|    United States|            Croatia|    1|                1|
+-----------------+-------------------+-----+-----------------+
only showing top 2 rows

**We don’t need escape characters here because the first argument to withColumn is just a string \
for the new column name. In this example, however, we need to use backticks because we’re \
referencing a column in an expression:**

In [108]:
testColumn.selectExpr('`The New long-Name`', '`The New long-Name` as col').show(2)

+-----------------+---+
|The New long-Name|col|
+-----------------+---+
|               15| 15|
|                1|  1|
+-----------------+---+
only showing top 2 rows

**We can refer to columns with reserved characters (and not escape them) if we’re doing an \
explicit string-to-column reference, which is interpreted as a literal instead of an expression.**

In [122]:
testColumn.withColumn( 'col', col('The New long-Name')).show(2)
testColumn.withColumn( 'col', expr('`The New long-Name`')).show(2)
#testColumn.withColumn( 'col', expr('The New long-Name')).show(2)     # Gives error without `.....`

+-----------------+-------------------+-----+-----------------+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|The New long-name|col|
+-----------------+-------------------+-----+-----------------+---+
|    United States|            Romania|   15|               15| 15|
|    United States|            Croatia|    1|                1|  1|
+-----------------+-------------------+-----+-----------------+---+
only showing top 2 rows

+-----------------+-------------------+-----+-----------------+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|The New long-name|col|
+-----------------+-------------------+-----+-----------------+---+
|    United States|            Romania|   15|               15| 15|
|    United States|            Croatia|    1|                1|  1|
+-----------------+-------------------+-----+-----------------+---+
only showing top 2 rows

---
**Case Sensitivity** \
By default Spark is $<< case \ insensitive >>$ ; however, you can make Spark case sensitive by setting the
configuration: \
**set spark.sql.caseSensitive true**

---
**Removing Columns**

In [125]:
df.drop('DEST_COUNTRY_NAME').columns

['ORIGIN_COUNTRY_NAME', 'count']

---
**Changing a Column's Type (Casting)**

In [133]:
df.withColumn('count2', col('count').cast('int')).printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)
 |-- count2: integer (nullable = true)

---
**Filtering Rows** \
To filter rows, we create an expression that evaluates to true or false. We can use $where$ or $filter$

In [9]:
# df.filter(expr('count > 2')).show(2)
# df.filter(col('count') > 2).show(2)
#df.filter('count < 2').show(2)
#df.where(col('count') > 2).show(2)
df.where('count < 2').show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

***We can put multiple filters into the same expression. Although this is possible, it is not always useful.\
Because Spark automatically performs all filtering operations at the same time regardless of the filter ordering.\
This means that if you want to specify multiple AND filters, just chain them sequentially and let Spark handle the rest:***

In [163]:
df.filter(expr('count > 2')).where(expr('ORIGIN_COUNTRY_NAME != "Croatia"')).show(2)

# Is better than:
df.where(expr('count > 2 and ORIGIN_COUNTRY_NAME != "Croatia"')).show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 2 rows

---
**Unique Rows**

In [167]:
df.select('DEST_COUNTRY_NAME').distinct().count()

132

---
**Random Samples** \
**The $sample$ method on a DataFrame makes it possible for you to:**
* specify a fraction of rows to extract from a DataFrame.
* whether you’d like to sample with or without replacement.

In [175]:
seed = 42
withReplacement = False
fraction = 0.5
df.sample(withReplacement, fraction, seed).show(2)
df.sample(withReplacement, fraction).show(2) # Without seed
df.sample(withReplacement, fraction).show(2) # Without seed

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Egypt|      United States|   15|
|       Costa Rica|      United States|  588|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 2 rows

---
**Random Split**

In [182]:
df2 = df.randomSplit([0.25, 0.75], seed)
df2[0].show(2)
df2[1].show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|          Austria|      United States|   62|
|           Brazil|      United States|  853|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|          Algeria|      United States|    4|
|           Angola|      United States|   15|
+-----------------+-------------------+-----+
only showing top 2 rows

---
**Concatenating and Appending Rows (Union):** \
DataFrames are immutable.So we cannot append to DataFrames because that would be changing it.\
To append to a DataFrame, union the original DataFrame along with the new DataFrame.\
They should have the same schema and number of columns.

In [185]:
# in Python
from pyspark.sql import Row
schema = df.schema
newRows = [
Row("New Country", "Other Country", 5),
Row("New Country 2", "Other Country 3", 1)
] 
parallelizedRows = spark.sparkContext.parallelize(newRows)
newDF = spark.createDataFrame(parallelizedRows, schema)

# in Python
df.union(newDF)\
.where("count = 1")\
.where(col("ORIGIN_COUNTRY_NAME") != "United States")\
.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
|    United States|          Gibraltar|    1|
|    United States|             Cyprus|    1|
|    United States|            Estonia|    1|
|    United States|          Lithuania|    1|
|    United States|           Bulgaria|    1|
|    United States|            Georgia|    1|
|    United States|            Bahrain|    1|
|    United States|   Papua New Guinea|    1|
|    United States|         Montenegro|    1|
|    United States|            Namibia|    1|
|    New Country 2|    Other Country 3|    1|
+-----------------+-------------------+-----+

---
**Sorting Rows** \
$sort$ and $orderBy$ that work the exact same way.\
**They accept both column expressions and strings as well as multiple columns. \
The default is to sort in ascending order**

In [188]:
df.sort('count').show(5)
df.orderBy(col('count'), expr('DEST_COUNTRY_NAME'), 'ORIGIN_COUNTRY_NAME').show(2)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [200]:
# To specify sorting direction
from pyspark.sql.functions import asc, desc
df.orderBy(col('count').asc(), col('ORIGIN_COUNTRY_NAME').desc()).where(expr('count > 62')).show(5)

+--------------------+--------------------+-----+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+--------------------+--------------------+-----+
|       United States|              Guyana|   63|
|       United States|             Austria|   63|
|              Guyana|       United States|   64|
|Federated States ...|       United States|   69|
|       United States|Federated States ...|   69|
+--------------------+--------------------+-----+
only showing top 5 rows

In [201]:
df.orderBy(expr("count desc")).limit(6).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
+--------------------+-------------------+-----+

---
**Repartitioning:**

In [202]:
df.rdd.getNumPartitions()

1

In [205]:
df.repartition(5).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Denmark|  152|
|       United States|         Martinique|   43|
|       United States|        Saint Lucia|  136|
|             Ireland|      United States|  335|
|         South Korea|      United States| 1048|
|       United States|              Italy|  438|
|       United States|             Greece|   23|
|Bonaire, Sint Eus...|      United States|   58|
|              France|      United States|  935|
|       United States|             Cyprus|    1|
|       United States|         Montenegro|    1|
|       United States|            Austria|   63|
|           Australia|      United States|  329|
|       United States|        New Zealand|   74|
|       United States|           Suriname|   34|
|       United States|           Malaysia|    3|
|       United States|             Guyana|   63|
|              Taiwan|      United States|  266|
|            Portugal|      United States|  127|
|             Bolivia|      United States|   30|
+--------------------+-------------------+-----+
only showing top 20 rows

In [204]:
df.rdd.getNumPartitions()

1

---
**Collecting Rows to the Driver:** \
As discussed in previous chapters, Spark maintains the state of the cluster in the driver.Collect some of your data to the driver in order to manipulate it on local machine

In [207]:
collectDF = df.limit(5)
collectDF.take(5) # take works with an Integer count
collectDF.show() # this prints it out nicely
collectDF.show(5, False)
collectDF.collect()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62)]