## Task 1 - SQL

### Build SparkSession:

In [4]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkSQL').getOrCreate()

### Read the json file:

In [5]:
df = spark.read.format('json')\
.option('infereSchema', 'true')\
.load("DataFrame_sample.json")

### Display the schema:

In [19]:
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

In [6]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [18]:
df.filter(df["Model"].like("MacBook Pro")).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [20]:
df.createOrReplaceTempView("sqlView")

### Display "RAM"column and count "RAM" column:

In [23]:
spark.sql("""SELECT RAM FROM sqlView""").show()
spark.sql("""SELECT count(RAM) as RAM_count FROM sqlView""").show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

+---------+
|RAM_count|
+---------+
|        4|
+---------+

### Get all columns when "Year" column equal "2015"

In [24]:
spark.sql("""SELECT * FROM sqlView WHERE YEAR == 2015""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [27]:
spark.sql(""" SELECT * FROM sqlView WHERE Model like 'M%' """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [28]:
spark.sql(""" SELECT * FROM sqlView WHERE Model like 'MacBook Pro' """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [30]:
spark.sql(""" SELECT * 
            FROM sqlView 
            WHERE Model like 'MacBook'
                    and RAM = '8GB'
        """).show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [31]:
spark.sql(""" SELECT * 
            FROM sqlView 
            WHERE Model like 'iMac'
                    and D = '8'
        """).show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [35]:
testSQL = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("test1.csv")

testSQL.createOrReplaceTempView("sqlTest")

In [36]:
testSQL.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [40]:
spark.sql("SELECT * FROM sqlTest WHERE Salary <= 20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [41]:
spark.sql("""SELECT * FROM sqlTest 
          WHERE Salary <= 20000
                  and Salary >= 15000""").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [42]:
test_3_SQL = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("test3.csv")

test_3_SQL.createOrReplaceTempView("sqlTest3")

### Display dataset

In [43]:
test_3_SQL.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [44]:
test_3_SQL.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [45]:
spark.sql(""" SELECT Name, count(Name)
                FROM sqlTest3
                GROUP BY Name""").show()

+---------+-----------+
|     Name|count(Name)|
+---------+-----------+
|Sudhanshu|          3|
|    Sunny|          2|
|    Krish|          3|
|   Mahesh|          2|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [46]:
spark.sql(""" SELECT Name, count(Salary)
                FROM sqlTest3
                GROUP BY Name""").show()

+---------+-------------+
|     Name|count(Salary)|
+---------+-------------+
|Sudhanshu|            3|
|    Sunny|            2|
|    Krish|            3|
|   Mahesh|            2|
+---------+-------------+

### Group by "Departments" column and using sum function on "Departments" column

In [50]:
spark.sql(""" SELECT Departments, count(Departments)
                FROM sqlTest3
                GROUP BY Departments""").show()

+------------+--------------------------------+
| Departments|avg(CAST(Departments AS DOUBLE))|
+------------+--------------------------------+
|         IOT|                            null|
|    Big Data|                            null|
|Data Science|                            null|
+------------+--------------------------------+

### Group by "Departments" column and using mean function on "Departments" column:

In [49]:
spark.sql(""" SELECT Departments, mean(Salary)
                FROM sqlTest3
                GROUP BY Departments""").show()

+------------+------------+
| Departments|mean(Salary)|
+------------+------------+
|         IOT|      7500.0|
|    Big Data|      3750.0|
|Data Science|     10750.0|
+------------+------------+

### Group by "Departments" column and using count function on "Departments" column:

In [51]:
spark.sql(""" SELECT Departments, count(Departments)
                FROM sqlTest3
                GROUP BY Departments""").show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [56]:
test_3_SQL.agg({'Salary': "sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [64]:
ITI_ML = spark.read.format("csv")\
.option("header", "true")\
.option("inferSchema", "true")\
.load("ITI_data.csv")

ITI_ML.createOrReplaceTempView("sqlITI")

In [65]:
ITI_ML.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [66]:
ITI_ML.show(5)

+-----------+-----------+---+-------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26| 47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|  110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+
only showing top 5 rows

### OneHotEncoder

In [76]:
from pyspark.ml.feature import StringIndexer

Indexer = StringIndexer(inputCol= "Cruise_line", outputCol= "Cruise_Index")
Indexer = Indexer.fit(ITI_ML)
indexedDF = Indexer.transform(ITI_ML)
indexedDF.show(5)

+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+
|  Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_Index|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+
|    Journey|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|        16.0|
|      Quest|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|        16.0|
|Celebration|   Carnival| 26| 47.262|     14.86|  7.22|  7.43|             31.8| 6.7|         1.0|
|   Conquest|   Carnival| 11|  110.0|     29.74|  9.53| 14.88|            36.99|19.1|         1.0|
|    Destiny|   Carnival| 17|101.353|     26.42|  8.92| 13.21|            38.36|10.0|         1.0|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+
only showing top 5 rows

In [78]:
from pyspark.ml.feature import OneHotEncoder

ohe = OneHotEncoder(inputCol= "Cruise_Index", outputCol="Cruise_numeric")
ohe = ohe.fit(indexedDF)
EncodedDF = ohe.transform(indexedDF)
EncodedDF.show(5)

+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+---------------+
|  Ship_name|Cruise_line|Age|Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_Index| Cruise_numeric|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+---------------+
|    Journey|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|        16.0|(19,[16],[1.0])|
|      Quest|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|        16.0|(19,[16],[1.0])|
|Celebration|   Carnival| 26| 47.262|     14.86|  7.22|  7.43|             31.8| 6.7|         1.0| (19,[1],[1.0])|
|   Conquest|   Carnival| 11|  110.0|     29.74|  9.53| 14.88|            36.99|19.1|         1.0| (19,[1],[1.0])|
|    Destiny|   Carnival| 17|101.353|     26.42|  8.92| 13.21|            38.36|10.0|         1.0| (19,[1],[1.0])|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+------------+---------------+
only showing top 5 rows

### Use VectorAssembler to merge all columns into one column:

In [84]:
columns = ['Age','Tonnage','passengers' ,'length','cabins','passenger_density','Cruise_numeric']

In [88]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols= columns, outputCol= "features")
finalData = assembler.transform(EncodedDF)
finalData.select(['features','crew']).show(5, truncate=False)

+--------------------------------------------------------------+----+
|features                                                      |crew|
+--------------------------------------------------------------+----+
|(25,[0,1,2,3,4,5,22],[6.0,30.277,6.94,5.94,3.55,42.64,1.0])   |3.55|
|(25,[0,1,2,3,4,5,22],[6.0,30.277,6.94,5.94,3.55,42.64,1.0])   |3.55|
|(25,[0,1,2,3,4,5,7],[26.0,47.262,14.86,7.22,7.43,31.8,1.0])   |6.7 |
|(25,[0,1,2,3,4,5,7],[11.0,110.0,29.74,9.53,14.88,36.99,1.0])  |19.1|
|(25,[0,1,2,3,4,5,7],[17.0,101.353,26.42,8.92,13.21,38.36,1.0])|10.0|
+--------------------------------------------------------------+----+
only showing top 5 rows

### Create a Linear Regression Model

In [91]:
from pyspark.ml.regression import LinearRegression

Lr = LinearRegression(featuresCol='features',labelCol='crew')

model = Lr.fit(finalData)

trainedData = model.transform(finalData)
trainedData.select(['crew' , 'prediction']).show()

+----+------------------+
|crew|        prediction|
+----+------------------+
|3.55| 3.549999999999999|
|3.55| 3.549999999999999|
| 6.7| 6.700648095399964|
|19.1|12.573736167893333|
|10.0|11.310990686634742|
| 9.2| 9.109031795050672|
| 9.2| 9.058135555614097|
| 9.2| 9.126838852468705|
| 9.2| 9.087219121006424|
|11.5| 11.80771764116933|
|11.6|12.549515113518257|
| 6.6| 6.631811043386064|
| 9.2| 9.079948229658342|
| 9.2|  9.07267733831026|
| 9.3| 10.01935564612215|
|11.6|12.534973330822094|
|10.3|10.042130722991768|
| 9.2| 9.058135555614097|
| 9.3|10.788803487739486|
| 9.2| 9.094490012354509|
+----+------------------+
only showing top 20 rows

### Creating a Pipeline

In [90]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[Indexer, ohe, assembler , Lr])
model = pipeline.fit(ITI_ML)
transformed = model.transform(ITI_ML)
transformed.select(['crew','prediction']).show(truncate=False)

+----+------------------+
|crew|prediction        |
+----+------------------+
|3.55|3.549999999999999 |
|3.55|3.549999999999999 |
|6.7 |6.700648095399964 |
|19.1|12.573736167893333|
|10.0|11.310990686634742|
|9.2 |9.109031795050672 |
|9.2 |9.058135555614097 |
|9.2 |9.126838852468705 |
|9.2 |9.087219121006424 |
|11.5|11.80771764116933 |
|11.6|12.549515113518257|
|6.6 |6.631811043386064 |
|9.2 |9.079948229658342 |
|9.2 |9.07267733831026  |
|9.3 |10.01935564612215 |
|11.6|12.534973330822094|
|10.3|10.042130722991768|
|9.2 |9.058135555614097 |
|9.3 |10.788803487739486|
|9.2 |9.094490012354509 |
+----+------------------+
only showing top 20 rows

### Model Evaluation

In [92]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator(
    labelCol="crew", predictionCol="prediction", metricName="rmse")

rmse = evaluator.evaluate(transformed)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 0.800765

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566